CompileFlags:
  CompilationDatabase: build
  QueryDriver: E:/w64devkit/bin/c++.exe
  Add:
    - -cxx-isystem
    - E:/w64devkit/lib/gcc/x86_64-w64-mingw32/14.2.0/include/c++
    - -cxx-isystem
    - E:/w64devkit/lib/gcc/x86_64-w64-mingw32/14.2.0/include/c++/x86_64-w64-mingw32
    - -cxx-isystem
    - E:/w64devkit/lib/gcc/x86_64-w64-mingw32/14.2.0/include/c++/backward
    - -isystem
    - E:/w64devkit/lib/gcc/x86_64-w64-mingw32/14.2.0/include
    - -isystem
    - E:/w64devkit/lib/gcc/x86_64-w64-mingw32/14.2.0/include-fixed
    - -isystem
    - E:/w64devkit/x86_64-w64-mingw32/include